Repository hpi-schul-cloud/schulcloud-flutter, pull requests merged in 2020-10, with the labels that each got.

#352 Upgrade Flutter and Android embedding
  .github/workflows/build.yml
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/org/schulcloud/android/MainActivity.java
  android/app/src/main/res/values/styles.xml
  lib/app/routing.dart
  lib/app/schulcloud_app.dart
  pubspec.lock
  pubspec.yaml
Labels: C: app, T: build

#355 Add NBC audit flavor
  .github/workflows/build.yml
  .vscode/launch.json
  android/app/build.gradle
  android/app/src/nbc_audit/res/values/string.xml
  lib/main_nbc_audit.dart
Labels: T: build

#354 Disable API test
  .github/workflows/build.yml
Labels: T: test
