Repository hpi-schul-cloud/schulcloud-flutter, pull requests merged in 2020-04, with the labels that each got.

#223 Create `FancyCachedBuilder`
  lib/app/app.dart
  lib/app/data.dart
  lib/app/error_reporting.dart
  lib/app/exception.dart
  lib/app/hive.dart
  lib/app/services/api_network.dart
  lib/app/services/deep_linking.dart
  lib/app/services/network.dart
  lib/app/services/snack_bar.dart
  lib/app/services/storage.dart
  lib/app/utils.dart
  lib/app/widgets/account_avatar.dart
  lib/app/widgets/account_dialog.dart
  lib/app/widgets/cache_utils.dart
  lib/app/widgets/empty_state.dart
  lib/app/widgets/error_widgets.dart
  lib/assignment/data.dart
  lib/assignment/widgets/assignment_detail_screen.dart
  lib/assignment/widgets/assignments_screen.dart
  lib/assignment/widgets/dashboard_card.dart
  lib/assignment/widgets/edit_submission_screen.dart
  lib/calendar/bloc.dart
  lib/calendar/data.dart
  lib/calendar/widgets/dashboard_card.dart
  lib/course/data.dart
  lib/course/widgets/content_view.dart
  lib/course/widgets/course_card.dart
  lib/course/widgets/course_detail_screen.dart
  lib/course/widgets/courses_screen.dart
  lib/course/widgets/lesson_screen.dart
  lib/file/data.dart
  lib/file/widgets/file_browser.dart
  lib/file/widgets/file_menu.dart
  lib/file/widgets/file_tile.dart
  lib/file/widgets/files_screen.dart
  lib/file/widgets/upload_fab.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/news/data.dart
  lib/news/widgets/article_preview.dart
  lib/news/widgets/article_screen.dart
  lib/news/widgets/dashboard_card.dart
  lib/news/widgets/news_screen.dart
  lib/sign_in/bloc.dart
  lib/sign_in/widgets/sign_in_browser.dart
  pubspec.lock
  pubspec.yaml
Labels: C: app, L: BLoC/service, L: widgets, T: refactor

#279 Use `LoggingNavigatorObserver` from black_hole_flutter
  lib/app/services/navigator_observer.dart
  lib/app/widgets/schulcloud_app.dart
  pubspec.lock
  pubspec.yaml
Labels: C: app, T: refactor

#277 Fix submission requests
  lib/app/services/network.dart
  lib/app/sort_filter/sort_filter.dart
  lib/assignment/data.dart
  pubspec.lock
Labels: C: assignment, T: fix

#282 Update Sentry DSN
  lib/app/error_reporting.dart
Labels: C: app, T: fix

#281 feat: add appbar to article screen
  lib/news/widgets/article_screen.dart
Labels: C: news, P: 4, T: feat

#283 CD with fastlane
  .github/workflows/build.yml
  .gitignore
  .unicorn/unicorn.kts
  android/Gemfile
  android/app/build.gradle
  android/fastlane/Appfile
  android/fastlane/Fastfile
  pubspec.yaml
Labels: T: build

#284 Show global errors
  lib/app/app.dart
  lib/app/services/banner.dart
  lib/app/services/network.dart
  lib/app/widgets/account_avatar.dart
  lib/app/widgets/account_dialog.dart
  lib/app/widgets/banners.dart
  lib/app/widgets/cache_utils.dart
  lib/app/widgets/error_widgets.dart
  lib/app/widgets/schulcloud_app.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Labels: C: app, C: l10n, T: feat

#257 Filter assignments by course
  lib/app/app_config.dart
  lib/app/sort_filter/filtering.dart
  lib/app/sort_filter/sort_filter.dart
  lib/app/widgets/card.dart
  lib/app/widgets/text.dart
  lib/assignment/widgets/assignment_detail_screen.dart
  lib/assignment/widgets/assignments_screen.dart
  lib/course/course.dart
  lib/course/widgets/course_chip.dart
  lib/course/widgets/course_name.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
Labels: C: assignment, T: feat

#287 Handle 403 response
  lib/app/routing.dart
  lib/app/services/network.dart
  lib/app/utils.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/news/widgets/article_preview.dart
  lib/news/widgets/article_screen.dart
  lib/news/widgets/author.dart
  lib/news/widgets/news_screen.dart
  lib/sign_in/widgets/sign_out_screen.dart
Labels: C: app, C: l10n, C: news, T: fix

#286 Handle failed demo sign in
  lib/app/app_config.dart
  lib/course/widgets/course_detail_screen.dart
  lib/file/widgets/file_menu.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/main.dart
  lib/main_n21.dart
  lib/sign_in/bloc.dart
  lib/sign_in/widgets/form.dart
Labels: C: l10n, P: 5, T: fix

#293 Documentation for new contributors
  CONTRIBUTING.md
  README.md
  pubspec.lock
  pubspec.yaml
Labels: P: 4, T: docs
