Repository hpi-schul-cloud/schulcloud-flutter, pull requests merged in 2020-09, with the labels that each got.

#343 Add build-apk scripts
  build-apk.bat
  build-apk.sh
Labels: T: build

#344 Sorting & empty state for `NewsScreen`
  lib/app/sort_filter/sort_filter.dart
  lib/assignment/pages/assignments_page.dart
  lib/course/pages/courses.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/news/data.dart
  lib/news/pages/news.dart
Labels: C: app, C: assignment, C: course, C: l10n, C: news, T: feat

#345 Add tooltips to icon buttons
  lib/app/account/avatar.dart
  lib/app/banner/widgets.dart
  lib/app/sort_filter/sort_filter.dart
  lib/assignment/pages/assignment_detail_page/tab_submission.dart
  lib/assignment/pages/edit_submission_page.dart
  lib/course/pages/course_detail.dart
  lib/file/pages/choose_destination_page.dart
  lib/file/service.dart
  lib/file/widgets/upload_fab.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
Labels: C: app, C: assignment, C: course, C: file, C: l10n, T: feat

#346 Update domains
  .github/workflows/build.yml
  CONTRIBUTING.md
  README.md
  analysis_options.yaml
  android/app/build.gradle
  android/app/src/brb/res/values/string.xml
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/values/string.xml
  android/app/src/n21/res/values/string.xml
  android/app/src/open/res/values/string.xml
  android/app/src/sc_test/res/values/string.xml
  android/app/src/thr/res/values/string.xml
  lib/app/sort_filter/sort_filter.dart
  lib/assignment/routes.dart
  lib/auth/pages/sign_in/page.dart
  lib/brand/app_config.dart
  lib/course/widgets/content_view.dart
  lib/main_open.dart
  lib/main_sc.dart
  lib/main_sc_test.dart
  pubspec.yaml
Labels: C: app, C: assignment, C: auth, C: course, T: fix
