Repository hpi-schul-cloud/schulcloud-flutter, pull requests merged in 2020-03, with the labels that each got.

#148 Sort & filter assignments
  lib/app/app.dart
  lib/app/app_config.dart
  lib/app/chip.dart
  lib/app/datetime_utils.dart
  lib/app/services/storage.dart
  lib/app/sort_filter/filtering.dart
  lib/app/sort_filter/sort_filter.dart
  lib/app/sort_filter/sorting.dart
  lib/app/utils.dart
  lib/app/widgets/bottom_sheet.dart
  lib/app/widgets/card.dart
  lib/app/widgets/empty_state.dart
  lib/app/widgets/error_widgets.dart
  lib/assignment/bloc.dart
  lib/assignment/data.dart
  lib/assignment/widgets/assignments_screen.dart
  lib/assignment/widgets/dashboard_card.dart
  lib/calendar/widgets/dashboard_card.dart
  lib/course/bloc.dart
  lib/course/course.dart
  lib/course/widgets/course_chip.dart
  lib/course/widgets/course_color_dot.dart
  lib/dashboard/dashboard.dart
  lib/dashboard/widgets/dashboard_card.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/login/bloc.dart
  lib/news/widgets/dashboard_card.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#155 Submit assignment
  lib/app/app.dart
  lib/app/app_config.dart
  lib/app/data.dart
  lib/app/datetime_utils.dart
  lib/app/hive.dart
  lib/app/services/network.dart
  lib/app/services/storage.dart
  lib/app/services/user_fetcher.dart
  lib/app/theming_utils.dart
  lib/app/utils.dart
  lib/app/widgets/account_avatar.dart
  lib/app/widgets/app_bar.dart
  lib/app/widgets/buttons.dart
  lib/app/widgets/error_widgets.dart
  lib/app/widgets/form.dart
  lib/app/widgets/scaffold.dart
  lib/app/widgets/schulcloud_app.dart
  lib/assignment/bloc.dart
  lib/assignment/data.dart
  lib/assignment/widgets/assignment_details_screen.dart
  lib/assignment/widgets/assignments_screen.dart
  lib/assignment/widgets/edit_submittion_screen.dart
  lib/assignment/widgets/grade_indicator.dart
  lib/assignment/widgets/submission_screen.dart
  lib/calendar/bloc.dart
  lib/calendar/data.dart
  lib/course/bloc.dart
  lib/course/data.dart
  lib/course/widgets/course_chip.dart
  lib/course/widgets/lesson_screen.dart
  lib/file/bloc.dart
  lib/file/data.dart
  lib/file/widgets/file_browser.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/login/bloc.dart
  lib/login/data.dart
  lib/login/utils.dart
  lib/login/widgets/form.dart
  lib/main.dart
  lib/main_brb.dart
  lib/main_n21.dart
  lib/main_open.dart
  lib/main_thr.dart
  lib/news/bloc.dart
  lib/news/data.dart
  lib/settings/widgets/settings_screen.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#164 News DashboardCard improvements
  lib/app/utils.dart
  lib/news/widgets/dashboard_card.dart
Labels: bug, widgets

#167 Redesign account dialog
  assets/icon_signOut.svg
  lib/app/app.dart
  lib/app/widgets/account_avatar.dart
  lib/app/widgets/account_dialog.dart
  lib/app/widgets/buttons.dart
  lib/app/widgets/error_widgets.dart
  lib/app/widgets/schulcloud_app.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/main.dart
  lib/sign_in/bloc.dart
  lib/sign_in/data.dart
  lib/sign_in/sign_in.dart
  lib/sign_in/utils.dart
  lib/sign_in/widgets/form.dart
  lib/sign_in/widgets/input.dart
  lib/sign_in/widgets/morphing_loading_button.dart
  lib/sign_in/widgets/sign_in_screen.dart
  lib/sign_in/widgets/slanted_section.dart
  pubspec.yaml
Labels: enhancement, widgets

#189 Fix DashboardCard color in dark mode
  lib/app/app_config.dart
  lib/calendar/widgets/dashboard_card.dart
Labels: bug, widgets

#203 Assignment visual fixes
  lib/app/widgets/scaffold.dart
  lib/assignment/bloc.dart
  lib/assignment/widgets/assignment_details_screen.dart
  lib/assignment/widgets/dashboard_card.dart
  lib/assignment/widgets/edit_submittion_screen.dart
  lib/course/widgets/course_chip.dart
  lib/course/widgets/course_color_dot.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  pubspec.lock
Labels: T: feat

#200 Upload files
  lib/app/app.dart
  lib/app/services/api_network.dart
  lib/app/services/network.dart
  lib/app/services/user_fetcher.dart
  lib/app/utils.dart
  lib/app/widgets/scaffold.dart
  lib/assignment/bloc.dart
  lib/calendar/bloc.dart
  lib/calendar/widgets/dashboard_card.dart
  lib/course/bloc.dart
  lib/course/widgets/course_card.dart
  lib/file/bloc.dart
  lib/file/widgets/file_browser.dart
  lib/file/widgets/files_screen.dart
  lib/file/widgets/upload_button.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/main.dart
  lib/news/bloc.dart
  lib/sign_in/bloc.dart
  pubspec.lock
  pubspec.yaml
Labels: L: BLoC/service, L: widgets, T: feat

#184 Fix course names overflowing on file screen
  lib/course/bloc.dart
  lib/course/data.dart
  lib/course/widgets/course_card.dart
  lib/course/widgets/courses_screen.dart
  lib/file/widgets/files_screen.dart
  pubspec.lock
Labels: L: widgets, T: fix

#206 Use L42n for l10n
  README.md
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
Labels: C: l10n, T: change

#209 Use black hole flutter
  lib/app/app.dart
  lib/app/app_config.dart
  lib/app/chip.dart
  lib/app/services/api_network.dart
  lib/app/services/network.dart
  lib/app/sort_filter/filtering.dart
  lib/app/sort_filter/sort_filter.dart
  lib/app/theming_utils.dart
  lib/app/utils.dart
  lib/app/widgets/account_avatar.dart
  lib/app/widgets/account_dialog.dart
  lib/app/widgets/app_bar.dart
  lib/app/widgets/bottom_sheet.dart
  lib/app/widgets/buttons.dart
  lib/app/widgets/card.dart
  lib/app/widgets/error_widgets.dart
  lib/app/widgets/form.dart
  lib/app/widgets/navigation_bar.dart
  lib/app/widgets/navigation_item.dart
  lib/app/widgets/scaffold.dart
  lib/assignment/widgets/assignment_details_screen.dart
  lib/assignment/widgets/assignments_screen.dart
  lib/assignment/widgets/dashboard_card.dart
  lib/assignment/widgets/edit_submittion_screen.dart
  lib/assignment/widgets/grade_indicator.dart
  lib/calendar/widgets/dashboard_card.dart
  lib/course/widgets/course_card.dart
  lib/course/widgets/course_chip.dart
  lib/course/widgets/course_color_dot.dart
  lib/course/widgets/course_detail_screen.dart
  lib/course/widgets/lesson_screen.dart
  lib/file/widgets/app_bar.dart
  lib/file/widgets/file_browser.dart
  lib/file/widgets/files_screen.dart
  lib/file/widgets/upload_button.dart
  lib/news/widgets/article_preview.dart
  lib/news/widgets/author.dart
  lib/news/widgets/dashboard_card.dart
  lib/news/widgets/headline.dart
  lib/sign_in/utils.dart
  lib/sign_in/widgets/form.dart
  lib/sign_in/widgets/morphing_loading_button.dart
  lib/sign_in/widgets/sign_in_screen.dart
  lib/sign_in/widgets/slanted_section.dart
  pubspec.lock
  pubspec.yaml
Labels: T: refactor

#160 Fix caching
  lib/app/app.dart
  lib/app/app_config.dart
  lib/app/data.dart
  lib/app/hive.dart
  lib/app/services/navigator_observer.dart
  lib/app/services/network.dart
  lib/app/services/storage.dart
  lib/app/services/user_fetcher.dart
  lib/app/sort_filter/filtering.dart
  lib/app/sort_filter/sort_filter.dart
  lib/app/sort_filter/sorting.dart
  lib/app/utils.dart
  lib/app/widgets/account_avatar.dart
  lib/app/widgets/account_dialog.dart
  lib/app/widgets/empty_state.dart
  lib/app/widgets/error_widgets.dart
  lib/app/widgets/schulcloud_app.dart
  lib/assignment/assignment.dart
  lib/assignment/bloc.dart
  lib/assignment/data.dart
  lib/assignment/widgets/assignment_details_screen.dart
  lib/assignment/widgets/assignments_screen.dart
  lib/assignment/widgets/dashboard_card.dart
  lib/assignment/widgets/edit_submittion_screen.dart
  lib/assignment/widgets/grade_indicator.dart
  lib/calendar/bloc.dart
  lib/calendar/data.dart
  lib/calendar/widgets/dashboard_card.dart
  lib/course/bloc.dart
  lib/course/course.dart
  lib/course/data.dart
  lib/course/widgets/course_card.dart
  lib/course/widgets/course_detail_screen.dart
  lib/course/widgets/courses_screen.dart
  lib/course/widgets/lesson_screen.dart
  lib/file/bloc.dart
  lib/file/data.dart
  lib/file/widgets/file_browser.dart
  lib/file/widgets/file_tile.dart
  lib/file/widgets/files_screen.dart
  lib/main.dart
  lib/news/bloc.dart
  lib/news/data.dart
  lib/news/news.dart
  lib/news/widgets/article_preview.dart
  lib/news/widgets/article_screen.dart
  lib/news/widgets/dashboard_card.dart
  lib/news/widgets/news_screen.dart
  lib/sign_in/utils.dart
  pubspec.lock
  pubspec.yaml
Labels: L: BLoC/service, L: data, L: widgets, T: feat, T: fix

#218 Link privacy policy, imprint on SignInScreen
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/main.dart
  lib/settings/licenses.dart
  lib/settings/settings.dart
  lib/settings/utils.dart
  lib/settings/widgets/legal_bar.dart
  lib/settings/widgets/settings_screen.dart
  lib/sign_in/widgets/sign_in_screen.dart
Labels: C: settings, C: signIn, L: widgets, T: feat

#217 Add `FancyText`
  lib/app/app.dart
  lib/app/widgets/account_dialog.dart
  lib/app/widgets/card.dart
  lib/app/widgets/navigation_item.dart
  lib/app/widgets/placeholder_text.dart
  lib/app/widgets/text.dart
  lib/assignment/widgets/assignment_details_screen.dart
  lib/assignment/widgets/assignments_screen.dart
  lib/assignment/widgets/dashboard_card.dart
  lib/calendar/widgets/dashboard_card.dart
  lib/course/widgets/course_card.dart
  lib/course/widgets/course_chip.dart
  lib/course/widgets/course_detail_screen.dart
  lib/course/widgets/courses_screen.dart
  lib/course/widgets/lesson_screen.dart
  lib/file/file.dart
  lib/file/widgets/file_browser.dart
  lib/news/widgets/article_preview.dart
  lib/news/widgets/article_screen.dart
  lib/news/widgets/author.dart
  lib/news/widgets/dashboard_card.dart
  lib/settings/widgets/settings_screen.dart
  lib/sign_in/widgets/form.dart
  lib/sign_in/widgets/morphing_loading_button.dart
  pubspec.lock
Labels: L: widgets, T: feat

#219 Adapt `UploadButton` to dark mode
  lib/app/data.dart
  lib/app/hive.dart
  lib/file/widgets/file_browser.dart
  lib/file/widgets/files_screen.dart
  lib/file/widgets/upload_fab.dart
Labels: C: file, T: fix

#207 Support deleting and renaming files
  lib/app/app.dart
  lib/app/services/api_network.dart
  lib/app/services/network.dart
  lib/app/services/snack_bar.dart
  lib/app/utils.dart
  lib/app/widgets/buttons.dart
  lib/app/widgets/form.dart
  lib/app/widgets/schulcloud_app.dart
  lib/assignment/widgets/edit_submittion_screen.dart
  lib/file/data.dart
  lib/file/widgets/file_browser.dart
  lib/file/widgets/file_menu.dart
  lib/file/widgets/file_tile.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/main.dart
Labels: C: file, L: data, L: widgets, T: feat

#211 Deep linking
  android/app/src/main/AndroidManifest.xml
  assets/sloth_error.svg
  lib/app/app_config.dart
  lib/app/routing.dart
  lib/app/services/storage.dart
  lib/app/sort_filter/filtering.dart
  lib/app/sort_filter/sort_filter.dart
  lib/app/sort_filter/sorting.dart
  lib/app/utils.dart
  lib/app/widgets/account_dialog.dart
  lib/app/widgets/navigation_bar.dart
  lib/app/widgets/not_found_screen.dart
  lib/app/widgets/page_route.dart
  lib/app/widgets/scaffold.dart
  lib/app/widgets/schulcloud_app.dart
  lib/app/widgets/top_level_screen_wrapper.dart
  lib/assignment/assignment.dart
  lib/assignment/data.dart
  lib/assignment/routes.dart
  lib/assignment/widgets/assignment_detail_screen.dart
  lib/assignment/widgets/assignments_screen.dart
  lib/assignment/widgets/dashboard_card.dart
  lib/assignment/widgets/edit_submittion_screen.dart
  lib/course/course.dart
  lib/course/routes.dart
  lib/course/widgets/course_card.dart
  lib/course/widgets/course_chip.dart
  lib/course/widgets/course_detail_screen.dart
  lib/course/widgets/lesson_screen.dart
  lib/dashboard/dashboard.dart
  lib/dashboard/routes.dart
  lib/file/data.dart
  lib/file/file.dart
  lib/file/routes.dart
  lib/file/widgets/file_browser.dart
  lib/file/widgets/files_screen.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/main.dart
  lib/main_brb.dart
  lib/main_n21.dart
  lib/main_open.dart
  lib/main_thr.dart
  lib/news/news.dart
  lib/news/routes.dart
  lib/news/widgets/article_preview.dart
  lib/news/widgets/article_screen.dart
  lib/news/widgets/dashboard_card.dart
  lib/settings/routes.dart
  lib/settings/settings.dart
  lib/sign_in/routes.dart
  lib/sign_in/sign_in.dart
  lib/sign_in/utils.dart
  lib/sign_in/widgets/form.dart
  lib/sign_in/widgets/sign_in_screen.dart
  lib/sign_in/widgets/sign_out_screen.dart
  pubspec.lock
  pubspec.yaml
Labels: L: widgets, T: feat

#225 Fix deep linking
  lib/app/services/deep_linking.dart
  lib/app/sort_filter/sort_filter.dart
  lib/app/utils.dart
  lib/app/widgets/top_level_screen_wrapper.dart
  lib/assignment/routes.dart
  lib/assignment/widgets/edit_submission_screen.dart
  lib/main.dart
  lib/sign_in/widgets/sign_out_screen.dart
  pubspec.lock
  pubspec.yaml
Labels: C: app, T: fix

#220 Automated screenshots
  .github/ISSUE_TEMPLATE/---bug-report.md
  .github/ISSUE_TEMPLATE/---feature-request.md
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-feature-request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build.yml
  .github/workflows/unicorn.yml
  .unicorn/.unicorn.yml
  .unicorn/templates/module/.template.kts
  .unicorn/templates/module/data.dart.ftl
  .unicorn/templates/module/module.dart
  .unicorn/templates/module/routes.dart.ftl
  README.md
  android/app/build.gradle
  android/app/src/debug/AndroidManifest.xml
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/org/schulcloud/android/MainActivity.java
  android/app/src/profile/AndroidManifest.xml
  lib/app/widgets/schulcloud_app.dart
  lib/sign_in/widgets/form.dart
  pubspec.lock
  pubspec.yaml
  screenshots.yaml
  test_driver/screenshots.dart
  test_driver/screenshots_test.dart
Labels: C: app, T: build

#227 Custom applicationId for debug builds
  android/app/build.gradle
Labels: T: build

#190 Issue/handle login in webview
  android/app/build.gradle
  lib/app/services/network.dart
  lib/app/services/storage.dart
  lib/l10n/intl_en.arb
  lib/sign_in/bloc.dart
  lib/sign_in/data.dart
  lib/sign_in/utils.dart
  lib/sign_in/widgets/form.dart
  lib/sign_in/widgets/sign_in_browser.dart
  lib/sign_in/widgets/sign_out_screen.dart
  pubspec.lock
  pubspec.yaml
Labels: C: signIn, T: feat

#232 Show internal assets in content WebViews
  lib/app/services/storage.dart
  lib/app/widgets/buttons.dart
  lib/course/data.dart
  lib/course/widgets/course_detail_screen.dart
  lib/course/widgets/lesson_screen.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/main.dart
  lib/sign_in/widgets/input.dart
  lib/sign_in/widgets/morphing_loading_button.dart
  lib/sign_in/widgets/sign_out_screen.dart
  pubspec.lock
  pubspec.yaml
Labels: C: app, C: course, T: fix

#239 Lazy-load bottom tabs
  .github/PULL_REQUEST_TEMPLATE.md
  lib/app/widgets/schulcloud_app.dart
Labels: C: app, T: feat

#241 Correctly dispose SignedInScreen on logout
  lib/sign_in/utils.dart
  lib/sign_in/widgets/form.dart
  lib/sign_in/widgets/sign_out_screen.dart
  pubspec.lock
  pubspec.yaml
Labels: P: 5, T: fix

#238 Support nullable course description
  lib/app/utils.dart
  lib/course/data.dart
  lib/course/widgets/course_detail_screen.dart
Labels: C: course, T: fix

#208 Upload files by sharing into app
  android/app/build.gradle
  android/app/src/main/java/org/schulcloud/android/MainActivity.java
  lib/app/data.dart
  lib/app/hive.dart
  lib/app/widgets/schulcloud_app.dart
  lib/assignment/widgets/assignment_detail_screen.dart
  lib/course/data.dart
  lib/file/data.dart
  lib/file/file.dart
  lib/file/routes.dart
  lib/file/service.dart
  lib/file/widgets/choose_destination.dart
  lib/file/widgets/file_browser.dart
  lib/file/widgets/files_screen.dart
  lib/file/widgets/upload_fab.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Labels: C: app, C: file, L: BLoC/service, L: widgets, T: feat

#245 Loading state while signing in
  lib/app/app_config.dart
  lib/app/widgets/buttons.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/sign_in/widgets/form.dart
  lib/sign_in/widgets/sign_in_screen.dart
  pubspec.lock
  pubspec.yaml
Labels: C: signIn, L: widgets, T: fix

#243 Handle unsupported topic content types
  lib/app/app.dart
  lib/app/hive.dart
  lib/app/utils.dart
  lib/app/widgets/navigation_item.dart
  lib/app/widgets/text.dart
  lib/course/data.dart
  lib/course/widgets/content_view.dart
  lib/course/widgets/lesson_screen.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  pubspec.lock
  pubspec.yaml
Labels: C: course, T: feat

#247 Don't show a progress bar for the current course
  lib/calendar/widgets/dashboard_card.dart
  lib/dashboard/widgets/dashboard_card.dart
Labels: C: calendar, C: dashboard, T: fix

#249 Support resources topic content
  lib/app/data.dart
  lib/app/hive.dart
  lib/app/logger.dart
  lib/app/services/api_network.dart
  lib/app/services/network.dart
  lib/app/utils.dart
  lib/assignment/data.dart
  lib/course/data.dart
  lib/course/widgets/content_view.dart
  lib/file/data.dart
  lib/file/service.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
Labels: C: app, C: assignment, C: course, C: file, C: l10n, T: feat

#256 SortFilter for courses
  lib/app/sort_filter/sort_filter.dart
  lib/app/sort_filter/sorting.dart
  lib/assignment/data.dart
  lib/assignment/widgets/assignments_screen.dart
  lib/course/data.dart
  lib/course/widgets/courses_screen.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  pubspec.lock
  pubspec.yaml
Labels: C: app, C: assignment, C: course, C: l10n, T: feat

#261 Link for registering
  lib/app/app_config.dart
  lib/app/widgets/buttons.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/main.dart
  lib/sign_in/widgets/sign_in_screen.dart
  pubspec.lock
  pubspec.yaml
Labels: C: signIn, T: feat

#263 fix(app): some pods are missing default values
  ios/Podfile
Labels: T: build

#244 Error reporting via Sentry
  lib/app/app.dart
  lib/app/error_reporting.dart
  lib/app/hive.dart
  lib/app/services/api_network.dart
  lib/app/services/storage.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/main.dart
  lib/settings/widgets/preferences.dart
  lib/settings/widgets/settings_screen.dart
  pubspec.lock
  pubspec.yaml
Labels: C: app, T: feat

#268 Fix file upload
  lib/app/error_reporting.dart
  lib/app/logger.dart
  lib/app/services/network.dart
  lib/app/services/snack_bar.dart
  lib/file/service.dart
  lib/file/widgets/upload_fab.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/sign_in/widgets/sign_in_browser.dart
Labels: C: file, T: fix
