Repository hpi-schul-cloud/schulcloud-flutter, pull requests merged in 2020-01, with the labels that each got.

#92 Implement dashboard
  lib/app/widgets/fade_in.dart
  lib/assignment/assignment.dart
  lib/assignment/widgets/dashboard_card.dart
  lib/course/bloc.dart
  lib/dashboard/dashboard.dart
  lib/dashboard/widgets/dashboard_card.dart
  lib/dashboard/widgets/dashboard_screen.dart
  lib/news/news.dart
  lib/news/widgets/dashboard_card.dart
  pubspec.lock
Labels: BLoC/service, widgets

#112 Update Dart to v2.7.0
  pubspec.lock
  pubspec.yaml
Labels: meta

#114 Show schedule on dashboard
  analysis_options.yaml
  lib/app/hive.dart
  lib/app/theming/config.dart
  lib/app/utils.dart
  lib/assignment/widgets/dashboard_card.dart
  lib/calendar/bloc.dart
  lib/calendar/calendar.dart
  lib/calendar/data.dart
  lib/calendar/widgets/dashboard_card.dart
  lib/dashboard/widgets/dashboard_card.dart
  lib/dashboard/widgets/dashboard_screen.dart
  lib/main.dart
  lib/news/widgets/dashboard_card.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#119 Internationalization
  .github/workflows/build.yml
  .gitignore
  .vscode/extensions.json
  README.md
  analysis_options.yaml
  lib/app/hive.dart
  lib/app/utils.dart
  lib/app/widgets/app_bar.dart
  lib/app/widgets/empty_state.dart
  lib/app/widgets/error_widgets.dart
  lib/app/widgets/menu.dart
  lib/app/widgets/schulcloud_app.dart
  lib/assignment/widgets/assignment_details_screen.dart
  lib/assignment/widgets/assignments_screen.dart
  lib/assignment/widgets/dashboard_card.dart
  lib/assignment/widgets/submission_screen.dart
  lib/calendar/widgets/dashboard_card.dart
  lib/course/widgets/course_detail_screen.dart
  lib/course/widgets/courses_screen.dart
  lib/file/widgets/file_browser.dart
  lib/file/widgets/files_screen.dart
  lib/file/widgets/page_route.dart
  lib/generated/generated.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/login/widgets/form.dart
  lib/login/widgets/login_screen.dart
  lib/news/data.dart
  lib/news/widgets/article_preview.dart
  lib/news/widgets/article_screen.dart
  lib/news/widgets/author.dart
  lib/news/widgets/dashboard_card.dart
  lib/news/widgets/news_screen.dart
  lib/settings/widgets/settings_screen.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement

#94 Redesign files screen
  analysis_options.yaml
  assets/file_thumbnails/aacs.png
  assets/file_thumbnails/ais.png
  assets/file_thumbnails/avis.png
  assets/file_thumbnails/default.png
  assets/file_thumbnails/docs.png
  assets/file_thumbnails/flacs.png
  assets/file_thumbnails/gifs.png
  assets/file_thumbnails/htmls.png
  assets/file_thumbnails/jpgs.png
  assets/file_thumbnails/jss.png
  assets/file_thumbnails/movs.png
  assets/file_thumbnails/mp3s.png
  assets/file_thumbnails/mp4s.png
  assets/file_thumbnails/pdfs.png
  assets/file_thumbnails/pngs.png
  assets/file_thumbnails/psds.png
  assets/file_thumbnails/tiffs.png
  assets/file_thumbnails/txts.png
  assets/file_thumbnails/xlss.png
  lib/app/app.dart
  lib/app/data.dart
  lib/app/hive.dart
  lib/app/utils.dart
  lib/assignment/data.dart
  lib/assignment/widgets/dashboard_card.dart
  lib/calendar/data.dart
  lib/course/data.dart
  lib/file/data.dart
  lib/file/widgets/file_browser.dart
  lib/file/widgets/file_thumbnail.dart
  lib/file/widgets/file_tile.dart
  lib/file/widgets/files_screen.dart
  lib/login/widgets/form.dart
  lib/login/widgets/login_screen.dart
  lib/main.dart
  lib/news/data.dart
  lib/news/widgets/article_preview.dart
  lib/news/widgets/article_screen.dart
  lib/news/widgets/dashboard_card.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement, widgets

#120 Fix demo login
  assets/icon_logout.svg
  lib/app/widgets/menu.dart
  lib/login/bloc.dart
  lib/login/utils.dart
  lib/login/widgets/form.dart
  pubspec.yaml
Labels: bug, enhancement, widgets

#135 Use get_it for retrieving services, BLoCs
  lib/app/services/network.dart
  lib/app/services/storage.dart
  lib/app/services/user_fetcher.dart
  lib/app/utils.dart
  lib/app/widgets/menu.dart
  lib/app/widgets/schulcloud_app.dart
  lib/assignment/assignment.dart
  lib/assignment/bloc.dart
  lib/assignment/widgets/assignment_details_screen.dart
  lib/assignment/widgets/assignments_screen.dart
  lib/assignment/widgets/dashboard_card.dart
  lib/assignment/widgets/submission_screen.dart
  lib/calendar/bloc.dart
  lib/calendar/calendar.dart
  lib/calendar/widgets/dashboard_card.dart
  lib/course/bloc.dart
  lib/course/course.dart
  lib/course/widgets/course_card.dart
  lib/course/widgets/course_detail_screen.dart
  lib/course/widgets/courses_screen.dart
  lib/file/bloc.dart
  lib/file/file.dart
  lib/file/widgets/file_browser.dart
  lib/file/widgets/files_screen.dart
  lib/login/bloc.dart
  lib/login/login.dart
  lib/login/utils.dart
  lib/login/widgets/form.dart
  lib/login/widgets/login_screen.dart
  lib/main.dart
  lib/news/bloc.dart
  lib/news/news.dart
  lib/news/widgets/article_preview.dart
  lib/news/widgets/article_screen.dart
  lib/news/widgets/dashboard_card.dart
  lib/news/widgets/news_screen.dart
  pubspec.lock
  pubspec.yaml
Labels: BLoC/service, enhancement

#139 Redesign main UI
  .gitignore
  lib/app/app.dart
  lib/app/app_config.dart
  lib/app/theming/brb.dart
  lib/app/theming/n21.dart
  lib/app/theming/open.dart
  lib/app/theming/sc.dart
  lib/app/theming/thr.dart
  lib/app/theming/utils.dart
  lib/app/theming_utils.dart
  lib/app/utils.dart
  lib/app/widgets/account_avatar.dart
  lib/app/widgets/account_dialog.dart
  lib/app/widgets/app_bar.dart
  lib/app/widgets/card.dart
  lib/app/widgets/empty_state.dart
  lib/app/widgets/error_widgets.dart
  lib/app/widgets/menu.dart
  lib/app/widgets/navigation_bar.dart
  lib/app/widgets/navigation_item.dart
  lib/app/widgets/scaffold.dart
  lib/app/widgets/schulcloud_app.dart
  lib/assignment/widgets/assignment_details_screen.dart
  lib/assignment/widgets/assignments_screen.dart
  lib/assignment/widgets/dashboard_card.dart
  lib/assignment/widgets/submission_screen.dart
  lib/calendar/widgets/dashboard_card.dart
  lib/course/widgets/course_card.dart
  lib/course/widgets/course_detail_screen.dart
  lib/course/widgets/courses_screen.dart
  lib/course/widgets/lesson_screen.dart
  lib/dashboard/dashboard.dart
  lib/dashboard/widgets/dashboard_card.dart
  lib/dashboard/widgets/dashboard_screen.dart
  lib/file/widgets/app_bar.dart
  lib/file/widgets/file_browser.dart
  lib/file/widgets/file_tile.dart
  lib/file/widgets/files_screen.dart
  lib/generated/generated.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/login/utils.dart
  lib/login/widgets/form.dart
  lib/login/widgets/login_screen.dart
  lib/login/widgets/morphing_loading_button.dart
  lib/login/widgets/slanted_section.dart
  lib/main.dart
  lib/main_brb.dart
  lib/main_n21.dart
  lib/main_open.dart
  lib/main_thr.dart
  lib/news/widgets/article_preview.dart
  lib/news/widgets/author.dart
  lib/news/widgets/dashboard_card.dart
  lib/news/widgets/headline.dart
  lib/news/widgets/news_screen.dart
  lib/settings/widgets/settings_screen.dart
Labels: enhancement, widgets
