Repository hpi-schul-cloud/schulcloud-flutter, pull requests merged in 2020-08, with the labels that each got.

#331 Upgrade to Flutter 1.20
  .github/workflows/build.yml
  lib/app/data.dart
  pubspec.lock
  pubspec.yaml
Labels: C: app, T: fix

#322 User not found when signed out
  lib/app/account/dialog.dart
  lib/app/banner/service.dart
  lib/app/data.dart
  lib/app/services/storage.dart
  lib/app/utils.dart
  lib/main.dart
Labels: C: app, T: fix

#333 Use contrasting color for text on slanted sections
  lib/sign_in/widgets/slanted_section.dart
Labels: T: fix

#335 Migrate course module
  lib/app/data.dart
  lib/app/hive.dart
  lib/app/routing.dart
  lib/assignment/data.dart
  lib/assignment/pages/assignment_detail_page/page.dart
  lib/assignment/pages/assignments_page.dart
  lib/assignment/widgets/assignment_card.dart
  lib/assignment/widgets/dashboard_card.dart
  lib/course/module.dart
  lib/course/pages/course_detail.dart
  lib/course/pages/courses.dart
  lib/course/pages/lesson.dart
  lib/course/routes.dart
  lib/file/data.dart
  lib/file/pages/file_browser_page.dart
  lib/file/pages/files_page.dart
  lib/file/routes.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/settings/widgets/preferences.dart
Labels: C: app, C: assignment, C: course, C: file, C: l10n, C: settings, T: refactor

#336 Migrate dashboard module
  lib/app/routing.dart
  lib/app/utils.dart
  lib/assignment/widgets/dashboard_card.dart
  lib/dashboard/module.dart
  lib/dashboard/pages/dashboard.dart
  lib/dashboard/routes.dart
  lib/news/widgets/dashboard_card.dart
Labels: C: app, C: assignment, C: dashboard, C: news, T: refactor

#340 Migrate auth module
  .unicorn/.unicorn.yml
  lib/app/account/dialog.dart
  lib/app/banner/widgets.dart
  lib/app/routing.dart
  lib/app/top_level_route/screen_wrapper.dart
  lib/auth/module.dart
  lib/auth/pages/sign_in/browser.dart
  lib/auth/pages/sign_in/data.dart
  lib/auth/pages/sign_in/form.dart
  lib/auth/pages/sign_in/page.dart
  lib/auth/pages/sign_in/slanted_section.dart
  lib/auth/pages/sign_out.dart
  lib/auth/routes.dart
  lib/auth/sign_out.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/main.dart
  lib/sign_in/bloc.dart
  lib/sign_in/sign_in.dart
Labels: C: app, C: auth, C: l10n, T: refactor

#339 Migrate settings module
  lib/app/routing.dart
  lib/auth/pages/sign_in/page.dart
  lib/main.dart
  lib/settings/licenses.dart
  lib/settings/module.dart
  lib/settings/pages/settings.dart
  lib/settings/routes.dart
  lib/settings/settings.dart
Labels: C: app, C: settings, T: refactor

#338 Migrate news module
  lib/app/data.dart
  lib/app/hive.dart
  lib/app/module.dart
  lib/app/routing.dart
  lib/app/schulcloud_app.dart
  lib/app/utils.dart
  lib/app/widgets/separated_icon_text.dart
  lib/app/widgets/text.dart
  lib/app/widgets/user_preview.dart
  lib/assignment/pages/assignments_page.dart
  lib/brand/widgets/card.dart
  lib/dashboard/pages/dashboard.dart
  lib/l10n/intl_de.arb
  lib/l10n/intl_en.arb
  lib/news/data.dart
  lib/news/module.dart
  lib/news/pages/article.dart
  lib/news/pages/news.dart
  lib/news/routes.dart
  lib/news/widgets/article_card.dart
  lib/news/widgets/article_image.dart
  lib/news/widgets/article_preview.dart
  lib/news/widgets/article_screen.dart
  lib/news/widgets/author.dart
  lib/news/widgets/dashboard_card.dart
  lib/news/widgets/headline.dart
  lib/news/widgets/section.dart
  lib/news/widgets/theme.dart
  pubspec.lock
  pubspec.yaml
Labels: C: app, C: assignment, C: brand, C: dashboard, C: l10n, C: news, T: refactor
